<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../../assets/cidenet-logo.png" width="150" height="70" routerLink="/">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>