<!-- <div class="col-md-4" *ngFor="let game of games">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{game.title}}
      <button class="btn btn-danger" (click)="deleteGame(game.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img class="card-img-top" [src]="game.image">
    <div class="card-body">
      <p>{{game.description}}</p>
      <p>Created At {{game.created_at | date: 'yyyy-MM-dd'}}</p>
      <a [routerLink]="['/games/edit', game.id]" class="btn btn-info btn-block">
        EDIT GAME
      </a>
    </div>
  </div>
</div>

 -->
<div class="contenedor-tabla">
  <div class="col-12">
    <div class="row">
      <div class="col-9">
        <h4>Listado de empleados</h4>
      </div>
      <div class="col-3">
        <button class="btn btn-outline-success btn-sm" data-title="Save" data-toggle="modal" data-target="#add"
          (click)="openModalAgregarEmpleado(agregarEmpleado)"><span class="fa fa-plus"></span> Agregar nuevo
          empleado</button></div>
    </div>
    <br><br>
    <div class="row">
      <div class="form-group has-search col-sm-7 col-md-4">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" [(ngModel)]="filtroEmpleados" name="filtroTramiesPendientes"
          (keyup)="filtrarEmpleados($event)" class="form-control" placeholder="Buscar" />
      </div>

    </div>


    <div class="table-responsive">


      <table id="mytable" class="table table-bordered table-striped table-responsive">

        <thead>

          <th>PRIMER NOMBRE</th>
          <th>OTROS NOMBRES</th>
          <th>PRIMER APELLIDO</th>
          <th>SEGUNDO APELLIDO</th>
          <th>TIPO DE IDENTIFICACIÓN</th>
          <th>NÚMERO DE IDENTIFICACIÓN</th>
          <th>PAIS</th>
          <th>CORREO</th>
          <th>FECHA DE INGRESO</th>
          <th>AREA</th>
          <th>FECHA Y HORA DE REGISTRO</th>
          <th>ESTADO</th>
          <th>EDITAR</th>
          <th>ELIMINAR</th>
        </thead>
        <tbody>

          <tr
            *ngFor="let item of (listadoEmpleados | paginate: { itemsPerPage: 10, currentPage: p }); let posicion = index">
            <td>{{item.primerNombre}}</td>
            <td>{{item.otrosNombres}}</td>
            <td>{{item.primerApellido}}</td>
            <td>{{item.segundoApellido}}</td>
            <td>{{item.tipoIdentificacion}}</td>
            <td>{{item.numeroIdentificacion}}</td>
            <td>{{item.idPais}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.fecIngreso | date: 'MM/dd/yyyy' }}</td>
            <td>{{item.idArea}}</td>
            <td>{{item.fecRegistro |  date:'yyyy/MM/dd hh:mm:ss'}}</td>
            <td [ngClass]="{'classInactivo': item.estado === 'INACTIVO',
                'classActivo': item.estado === 'ACTIVO'}">{{item.estado}}</td>
            <td>
              <button class="btn btn-outline-success btn-xs" (click)="openModalEditarEmpleado(editarEmpleado,item)"
                data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button>
            </td>
            <td>
              <button class="btn btn-outline-danger btn-xs" data-title="Delete"
                (click)="deleteEmpleado(item.idEmpleado)" data-toggle="modal" data-target="#delete"><span
                  class="fa fa-trash"></span></button>
            </td>

          </tr>

        </tbody>

      </table>

      <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"
        screenReaderPaginationLabel="Paginación" screenReaderPageLabel="Pagina"
        screenReaderCurrentLabel="Estas en la pagina" responsive></pagination-controls>


    </div>
  </div>
</div>


<!-- Modal para guardar un nuevo empleado -->

<ng-template #agregarEmpleado let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Empleado</h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrarModalGuardar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="formGuardarEmpleado" [formGroup]="formEmpleados">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="primerApellido">PRIMER APELLIDO</label>
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.primerApellido.errors }"
            id="primerApellido" formControlName="primerApellido" required placeholder="Digite el primer apellido"
            maxlength="20" onkeyup="javascript:this.value=this.value.toUpperCase();"
            onkeypress="return ((event.charCode == 32) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
          <div *ngIf="submitted && f.primerApellido.errors" class="invalid-feedback">
            <div *ngIf="f.primerApellido.errors.required">Primer apellido es requerido</div>
          </div>


        </div>
        <div class="col-md-6 mb-3">
          <label for="validationServer02">SEGUNDO APELLIDO</label>
          <input type="text" class="form-control" id="validationServer02" formControlName="segundoApellido"
            maxlength="20" required [ngClass]="{ 'is-invalid': submitted && f.segundoApellido.errors }"
            onkeypress="return ((event.charCode == 32) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            placeholder="Digite el segundo apellido" onkeyup="javascript:this.value=this.value.toUpperCase();">
          <div *ngIf="submitted && f.segundoApellido.errors" class="invalid-feedback">
            <div *ngIf="f.segundoApellido.errors.required">Segundo apellido es requerido</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">PRIMER NOMBRE</label>
          <input type="text" class="form-control" id="primerNombre" formControlName="primerNombre" maxlength="20"
            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            required [ngClass]="{ 'is-invalid': submitted && f.primerNombre.errors }"
            onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Digite el primer nombre">
          <div *ngIf="submitted && f.primerNombre.errors" class="invalid-feedback">
            <div *ngIf="f.primerNombre.errors.required">Primer nombre es requerido</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationServer02">OTROS NOMBRES</label>
          <input type="text" class="form-control" id="otrosNombres" formControlName="otrosNombres" maxlength="50"
            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            onkeyup="javascript:this.value=this.value.toUpperCase();" required
            [ngClass]="{ 'is-invalid': submitted && f.otrosNombres.errors }" placeholder="Digite otros nombres">
          <div *ngIf="submitted && f.otrosNombres.errors" class="invalid-feedback">
            <div *ngIf="f.otrosNombres.errors.required">Otros nombres es requerido</div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">TIPO IDENTIFICACIÓN</label>
          <select class="form-control" id="tipoIdentificacion" formControlName="tipoIdentificacion"
            [ngClass]="{ 'is-invalid': submitted && f.tipoIdentificacion.errors }" placeholder="Elija un pais">
            <option value="CC">Cédula de ciudadanía</option>
            <option value="CE">Cédula de extranjería</option>
            <option value="PE">Permiso especial</option>
            <option value="PA">Pasaporte</option>
          </select>
          <div *ngIf="submitted && f.tipoIdentificacion.errors" class="invalid-feedback">
            <div *ngIf="f.tipoIdentificacion.errors.required">Tipo de identificación es requerido</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="numeroIdentificacion">NUMERO IDENTIFICACIÓN</label>
          <input type="text" class="form-control" id="numeroIdentificacion" formControlName="numeroIdentificacion"
            required [ngClass]="{ 'is-invalid': submitted && f.numeroIdentificacion.errors }" maxlength="20"
            placeholder="Digite el numero de identificación" onkeyup="javascript:this.value=this.value.toUpperCase();"
            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">

          <div class="valid-feedback">
            <div *ngIf="submitted && f.numeroIdentificacion.errors" class="invalid-feedback">
              <div *ngIf="f.numeroIdentificacion.errors.required">Numero de identificación es requerido</div>
            </div>
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">PAIS</label>
          <select class="form-control" id="idPais" formControlName="idPais"
            [ngClass]="{ 'is-invalid': submitted && f.idPais.errors }" placeholder="Elija un pais">
            <option value='CO'>COLOMBIA</option>
            <option value='US'>ESTADOS UNIDOS</option>
          </select>
          <div *ngIf="submitted && f.idPais.errors" class="invalid-feedback">
            <div *ngIf="f.idPais.errors.required">Pais es requerido</div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="validationServer01">AREA</label>
          <select class="form-control" id="idArea" formControlName="idArea" placeholder="Elija un area"
            [ngClass]="{ 'is-invalid': submitted && f.idArea.errors }">
            <option *ngFor="let item of listadoAreas" value="{{item.idArea}}">{{item.nomArea}}</option>

          </select>
          <div *ngIf="submitted && f.idArea.errors" class="invalid-feedback">
            <div *ngIf="f.idArea.errors.required">Area es requerido</div>
          </div>
        </div>


      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="fecIngreso">FECHA DE INGRESO</label>
          <input type="date" class="form-control " id="fecIngreso" formControlName="fecIngreso"
            [ngClass]="{ 'is-invalid': submitted && f.idArea.errors }" (change)="validarFechaSeleccion()" required>
          <div *ngIf="submitted && f.fecIngreso.errors" class="invalid-feedback">
            <div *ngIf="f.fecIngreso.errors.required">Fecha de ingreso es requerido</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="fecRegistro">FECHA DE REGISTRO</label>
          <input type="text" class="form-control " id="fecRegistro" formControlName="fecRegistro"
            placeholder="Digite la fecha de registro" readonly>

        </div>

      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" (click)="saveNuevoEmpleado()">Guardar</button>

    <button type="button" class="btn btn-outline-dark" (click)="cerrarModalGuardar()">Cerrar</button>
  </div>
</ng-template>

<!-- Fin modal -->

<!-- Modal para editar empleado existente -->
<ng-template #editarEmpleado let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Empleado</h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrarModalEditar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="formGuardarEmpleado" [formGroup]="formEmpleados">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="primerApellido">PRIMER APELLIDO</label>
          <input type="text" class="form-control" id="primerApellido" formControlName="primerApellido" required
            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            [ngClass]="{ 'is-invalid': submitted && f.primerApellido.errors }" placeholder="Digite el primer apellido">
          <div *ngIf="submitted && f.primerApellido.errors" class="invalid-feedback">
            <div *ngIf="f.primerApellido.errors.required">Segundo apellido es requerido</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationServer02">SEGUNDO APELLIDO</label>
          <input type="text" class="form-control" id="segundoApellido" formControlName="segundoApellido" required
            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            [ngClass]="{ 'is-invalid': submitted && f.segundoApellido.errors }"
            placeholder="Digite el segundo apellido">
          <div *ngIf="submitted && f.segundoApellido.errors" class="invalid-feedback">
            <div *ngIf="f.segundoApellido.errors.required">Segundo apellido es requerido</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">PRIMER NOMBRE</label>
          <input type="text" class="form-control" id="primerNombre" formControlName="primerNombre" required
            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            [ngClass]="{ 'is-invalid': submitted && f.primerNombre.errors }" placeholder="Digite el primer nombre">
          <div *ngIf="submitted && f.primerNombre.errors" class="invalid-feedback">
            <div *ngIf="f.primerNombre.errors.required">Primer nombre es requerido</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationServer02">OTROS NOMBRES</label>
          <input type="text" class="form-control" id="otrosNombres" formControlName="otrosNombres" required
            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            [ngClass]="{ 'is-invalid': submitted && f.otrosNombres.errors }" placeholder="Digite otros nombres">
          <div *ngIf="submitted && f.otrosNombres.errors" class="invalid-feedback">
            <div *ngIf="f.otrosNombres.errors.required">Otros nombres es requerido</div>
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">PAIS</label>
          <select class="form-control" id="idPais" formControlName="idPais"
            [ngClass]="{ 'is-invalid': submitted && f.idPais.errors }" placeholder="Elija un pais">
            <option value='CO'>COLOMBIA</option>
            <option value='US'>ESTADOS UNIDOS</option>
          </select>
          <div *ngIf="submitted && f.idPais.errors" class="invalid-feedback">
            <div *ngIf="f.idPais.errors.required">Otros nombres es requerido</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationServer02">CORREO ELECTRONICO</label>
          <input type="email" class="form-control" id="correo" formControlName="correo" readonly
            [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" placeholder="CORREO ELECTRONICO">
          <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
            <div *ngIf="f.correo.errors.required">Correo electronico es requerido</div>
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">TIPO IDENTIFICACIÓN</label>
          <select class="form-control" id="tipoIdentificacion" formControlName="tipoIdentificacion"
            [ngClass]="{ 'is-invalid': submitted && f.tipoIdentificacion.errors }"
            placeholder="Elija un tipo de identificación">
            <option value="CC">Cédula de ciudadanía</option>
            <option value="CE">Cédula de extranjería</option>
            <option value="PE">Permiso especial</option>
            <option value="PA">Pasaporte</option>
          </select>
          <div *ngIf="submitted && f.tipoIdentificacion.errors" class="invalid-feedback">
            <div *ngIf="f.tipoIdentificacion.errors.required">segundoApellido es requerido</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationServer02">NRO. DE IDENTIFICACIÓN</label>
          <input type="text" class="form-control" id="primerApellido" formControlName="numeroIdentificacion" required
            maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.numeroIdentificacion.errors }"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            placeholder="Digite el numero de identificación">
          <div *ngIf="submitted && f.numeroIdentificacion.errors" class="invalid-feedback">
            <div *ngIf="f.numeroIdentificacion.errors.required">segundoApellido es requerido</div>
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationServer01">AREA</label>
          <select class="form-control" id="area" formControlName="idArea" placeholder="Elija un area"
            [ngClass]="{ 'is-invalid': submitted && f.idArea.errors }">
            <option *ngFor="let item of listadoAreas" value="{{item.idArea}}">{{item.nomArea}}</option>
          </select>
          <div *ngIf="submitted && f.idArea.errors" class="invalid-feedback">
            <div *ngIf="f.idArea.errors.required">Area es requerido</div>
          </div>
        </div>


      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">FECHA DE INGRESO</label>
          <input type="date" class="form-control " id="fecIngreso" formControlName="fecIngreso"
            [ngClass]="{ 'is-invalid': submitted && f.idArea.errors }" (change)="validarFechaSeleccion()" required>
          <div *ngIf="submitted && f.fecIngreso.errors" class="invalid-feedback">
            <div *ngIf="f.fecIngreso.errors.required">Fecha de ingreso es requerido</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="fecRegistro">FECHA DE REGISTRO</label>
          <input type="text" class="form-control " id="fecRegistro" formControlName="fecRegistro"
            placeholder="Digite la fecha de registro" readonly>
        </div>

      </div>



    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" (click)="updateEmpleado()">Actualizar</button>

    <button type="button" class="btn btn-outline-dark" (click)="cerrarModalEditar()">Cerrar</button>
  </div>
</ng-template>
<!-- Fin modal -->